@charset "UTF-8";

@import 'fonts';

$red: #ff3b30;
$gray: #b6b6b6;
$gray-alt: #b0b0b0;
$mobile: 767px;
$tablet: 1170px;

* {
    box-sizing: border-box;

    &:focus {
        outline: none;
    }
}

html {
    font-size: 10px;
}

body {
    font-family: 'Circular';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.004);
    background-color: #fff;
    position: relative;
}

h1 {
    font-family: 'Tiempos Headline';
    font-weight: normal;
    font-size: 5rem;
    line-height: 7.2rem;
}

h2 {
    font-size: 2.4rem;
    line-height: 2.4rem;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
}

h3 {
    font-size: 2.6rem;
    line-height: 2.6rem;
    font-weight: 700;
    margin: 0;
}

p {
    font-size: 1.6rem;
}

a {
    color: #000;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container {
    width: 117rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    max-width: 100%;
    margin: 0 auto;
}

.white {
    color: #fff;
}

@media screen and (max-width: $tablet) {

    html {
        font-size: 5.7719298246px;
    }
}

@media screen and (max-width: $mobile) {

    html {
        font-size: 10px;
    }

    h1 {
        font-size: 24px;
        line-height: 36px;
    }

    h2 {
        font-size: 16px;
        line-height: 16px;
        font-weight: 700;
        margin: 0;
        text-transform: uppercase;
    }

    h3 {
        font-size: 18px;
        line-height: 18px;
        font-weight: 700;
        margin: 0;
    }

    p {
        font-size: 14px;
    }

    .container {
        flex-direction: column;
    }
}

@import 'forms';
@import 'navbar';
@import 'home';
@import 'portfolio-item';
@import 'buttons';
@import 'footer';
@import 'contact';
